<!--
  Author: Mark Randall
  Date: September 24th, 2021
  COMP229 Web App Development
  Fall Semester
-->

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy;&nbsp;Copyrighted 2021 All Rights Reserved</h6>
    </nav>
  </footer>