<!-- Main Content -->
  <main class="container">
    <div style="text-decoration: underline; text-transform: capitalize;" class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>      
    </div>
  </main>